@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

}

.myButtonHover:hover {
  background-color: #127f3f;
  color: white;
}