@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~typeface-crimson-text";

html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

}

@keyframes slide-in-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.7s ease-out;
}

.heading {
  font-family: 'Crimson Text', serif;
}